  <title> about TAHA </title>


			<!-- Content -->
			<div id="page-328" class="post-328 page type-page status-publish hentry grve-main-content">

              <section class="grve-section grve-feature-header" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">
                <div class="grve-row">

                </div>
              </section>

              <section class="grve-section" style="padding: 30px 128px; margin-bottom: 90px; margin-left: -128px; margin-right: -128px; background-color: rgb(240, 88, 72);">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<h2 class="grve-element grve-align-center grve-title-no-line light-title-bges" style="">
              About Taha
            </h2>
		</div>
	  </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<div class="grve-element grve-text">		
			<p>
			Founded in 2010, Taha Energy Kish has expanded significantly through innovation and technological advancement to be the leader of integrated geoscience, engineering and wireline services; providing end-to-end solutions in GeoContainment, formation evaluation and reservoir characterization
Taha focuses in conventional and unconventional resources, with facilities in Tehran and Kish. Our leadership team delivers many decades of experience in geoscience, geomechanics and engineering. The company’s most distinctive attribute is the constant synergy within our strong operational foundation and technical expertise.
			</p>
<p>
Taha is dedicated to providing best-in-class service; we are professionals serving professionals.
</p>
	
		</div>
	
		</div>
	  </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			  <hr class="grve-element grve-space-divider  " style="padding-bottom: 80px;">
		</div>
	  </div></section>



			</div>
			<!-- End Content -->
