<div id="page-116" class="post-116 page type-page status-publish hentry grve-main-content">

				<section class="grve-section grve-feature-header" style="padding: 30px 128px; margin-bottom: 30px; margin-left: -128px; margin-right: -128px; background-color: rgb(240, 88, 72);">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<h4 class="grve-element grve-align-center grve-title-no-line light-title-bges" style="">
			Email Recieved</h4>
		</div>
	  </div>
	  </section>


	  <section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">
	   <div class="grve-row" style="text-align:center">
	  <p>
	  You have successfully sent us your message, we will contact you back. 
	  </p>
          </div>
        </section>
	  </div>

