<div id="page-328" class="post-328 page type-page status-publish hentry grve-main-content">

  <section class="grve-section grve-feature-header" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  <div class="grve-row">
    <div class="wpb_column grve-column-1">
      <div class="wpb_revslider_element wpb_content_element"><!-- START REVOLUTION SLIDER 4.5.4 fullwidth mode -->

        <div style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px" class="forcefullwidth_wrapper_tp_banner">
          <div id="rev_slider_11_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; padding: 0px; max-height: 537px; height: 455px; left: -66px; position: absolute; width: 1302px; overflow: visible; background-color: rgb(233, 233, 233);">
            <div id="rev_slider_11_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive hovered" style="max-height: 537px; height: 455px; background-image: none; background-color: rgb(233, 233, 233);">
              <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 537px;">	<!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;" class="">
                  <!-- MAIN IMAGE -->
                  <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.bges.ca/wp-content/uploads/2014/11/Header-TruckExterior.jpg" data-src="http://www.bges.ca/wp-content/uploads/2014/11/Header-TruckExterior.jpg" style="width: 100%; height: 100%; opacity: 0; position: relative; background-image: url(http://www.bges.ca/wp-content/uploads/2014/11/Header-TruckExterior.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                  <!-- LAYERS -->
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;" class="current-sr-slide-visible">
                  <!-- MAIN IMAGE -->
                  <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.bges.ca/wp-content/uploads/2014/12/header-OpenHoleLogging02.jpg" data-src="http://www.bges.ca/wp-content/uploads/2014/12/header-OpenHoleLogging02.jpg" style="width: 100%; height: 100%; opacity: 1; position: relative; background-image: url(http://www.bges.ca/wp-content/uploads/2014/12/header-OpenHoleLogging02.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                  <!-- LAYERS -->
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; opacity: 1; z-index: 18;" class="">
                  <!-- MAIN IMAGE -->
                  <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.bges.ca/wp-content/uploads/2014/10/header-open-hole-logging.jpg" data-src="http://www.bges.ca/wp-content/uploads/2014/10/header-open-hole-logging.jpg" style="width: 100%; height: 100%; opacity: 0; position: relative; background-image: url(http://www.bges.ca/wp-content/uploads/2014/10/header-open-hole-logging.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                  <!-- LAYERS -->
                </li>
              </ul>
              <div class="tp-static-layers">
              </div>
              <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important; width: 0%;"></div>	<div class="tp-loader spinner4" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>

          </div>
          <div class="tp-fullwidth-forcer" style="width: 100%; height: 455px;"></div></div>

        <!-- END REVOLUTION SLIDER --></div>

    </div>
  </div>
  </section>

  <section class="grve-section" style="padding: 30px 66px; margin-bottom: 90px; margin-left: -66px; margin-right: -66px; background-color: rgb(240, 88, 72);">  <div class="grve-row">
    <div class="wpb_column grve-column-1">
      <h2 class="grve-element grve-align-center grve-title-no-line light-title-bges" style="">Downhole</h2>
    </div>
  </div>
  </section>
  <section class="grve-section" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  <div class="grve-row">
    <div class="wpb_column grve-column-1">
      <div class="grve-element grve-text">
        <p>
          In an ideal world, oil and gas operators would have no problem in their well, much as in our everyday lives we would rather not to have to visit the doctor. However, the reality is that unless we are very lucky we have to visit the doctor and, similarly, wells have problems that require diagnosis.
        </p>
        <p>
          In the last five years downhole video technology have been accepted as a key wellbore diagnostic tool in oil and gas industry. TPK's cameras can be used for temperatures up to 175 degrees Centigrade and 15,000 psi for the wide range of applications including:
          <br>
        <p style="padding-left:5em;">
          * Assisting in fishing operations.<br>

          * Identifying and assessing corrosion and well integrity issues.<br>

          * Confirming the performance of sub-surface safety valves.<br>

          * Monitoring scale and salt build-up.<br>

          * Inspecting completion equipment including screens and hangers.<br>

          * Evaluating gas or water entry into the wellbore.
        </p>
        </p>

      </div>

    </div>
  </div>
  </section>
  <section class="grve-section" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  <div class="grve-row">
    <div class="wpb_column grve-column-1">
      <hr class="grve-element grve-space-divider  " style="padding-bottom: 80px;">
    </div>
  </div>
  </section>


  <%= render 'shared/reachandlearn' %>

</div>