  <title>Taha</title>
        <!-- Content -->
        <div id="page-2" class="post-2 page type-page status-publish hentry grve-main-content">

          <section class="grve-section grve-feature-header" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-pattern"></div>  <div class="grve-row">
            <div class="wpb_column grve-column-1">
              <div class="wpb_revslider_element wpb_content_element bges-rotator-home">
                <!-- START REVOLUTION SLIDER 4.5.4 fullwidth mode -->

                <div style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px" class="forcefullwidth_wrapper_tp_banner"><div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; padding: 0px; max-height: 537px; height: 498px; left: -127.5px; position: absolute; width: 1425px; overflow: visible; background-color: rgb(233, 233, 233);">
                  <div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 537px; height: 498px; background-image: none; background-color: rgb(233, 233, 233);">
                    <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 537px;">  <!-- SLIDE  -->
                      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-link="http://www.bges.ca/integrated-wireline-services/" data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" class="" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                        <!-- MAIN IMAGE -->
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.bges.ca/wp-content/uploads/2015/01/header-main01.jpg" data-src="http://www.bges.ca/wp-content/uploads/2015/01/header-main01.jpg" style="width: 100%; height: 100%; opacity: 0; position: relative; background-image: url(http://www.bges.ca/wp-content/uploads/2015/01/header-main01.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption black tp-fade tp-resizeme start" data-x="409" data-y="238" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 378.949934980494px; top: 220.513654096229px; visibility: visible; opacity: 0; -webkit-transform: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><div style="min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; background-color: rgba(0, 0, 0, 0.4);"><div style="font-family: helvetica; color: rgb(255, 255, 255); font-weight: 100; font-size: 39px; text-align: center; line-height: 39px; padding: 9px; min-height: 0px; min-width: 0px; border-width: 0px; margin: 0px; letter-spacing: 0px;">Applying Science<br style="min-height: 0px; min-width: 0px; line-height: 36px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 36px;">In The Field!</div></div>
                        </div>
                        <div class="tp-caption sft slidelink hasclicklistener" style="width: 100%; height: 100%; z-index: 60; cursor: pointer; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 0px; top: 0px; visibility: visible; opacity: 0; -webkit-transform: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -46.3264, 0, 1);" data-x="0" data-y="0" data-linktoslide="no" data-start="0"><a style="width:100%;height:100%;display:block" target="_self" href="#"><span style="width:100%;height:100%;display:block"></span></a></div></li>
                      <!-- SLIDE  -->
                      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-link="http://www.bges.ca/geocontainment/" data-saveperformance="off" class="current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                        <!-- MAIN IMAGE -->
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.bges.ca/wp-content/uploads/2015/01/header-main02.jpg" data-src="http://www.bges.ca/wp-content/uploads/2015/01/header-main02.jpg" style="width: 100%; height: 100%; opacity: 1; position: relative; background-image: url(http://www.bges.ca/wp-content/uploads/2015/01/header-main02.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption black tp-fade tp-resizeme start" data-x="551" data-y="370" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 510.516905071521px; top: 342.815344603381px; visibility: visible; opacity: 0.185075279510896; -webkit-transform: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00177, 0, 0, 0, 1);"><div style="min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; background-color: rgba(0, 0, 0, 0.4);"><div style="font-family: helvetica; color: rgb(255, 255, 255); font-weight: 100; font-size: 39px; text-align: center; line-height: 39px; padding: 9px; min-height: 0px; min-width: 0px; border-width: 0px; margin: 0px; letter-spacing: 0px;">Toolbox to<br style="min-height: 0px; min-width: 0px; line-height: 36px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 36px;">Prevent Disasters</div></div>
                        </div>
                        <div class="tp-caption sft slidelink hasclicklistener" style="width: 100%; height: 100%; z-index: 60; cursor: pointer; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 0px; top: 0px; visibility: visible; opacity: 0; -webkit-transform: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -46.3264, 0, 1);" data-x="0" data-y="0" data-linktoslide="no" data-start="0"><a style="width:100%;height:100%;display:block" target="_self" href="#"><span style="width:100%;height:100%;display:block"></span></a></div></li>
                      <!-- SLIDE  -->
                      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-link="http://www.bges.ca/integrated-wireline-services/" data-saveperformance="off" class="" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
                        <!-- MAIN IMAGE -->
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.bges.ca/wp-content/uploads/2015/01/header-main01b.jpg" data-src="http://www.bges.ca/wp-content/uploads/2015/01/header-main01b.jpg" style="width: 100%; height: 100%; opacity: 0; position: relative; background-image: url(http://www.bges.ca/wp-content/uploads/2015/01/header-main01b.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div><div class="slot" style="position:absolute;top:0px;left:0px;overflow:hidden;width:1425.6px;height:498px"><div class="slotslide" style="position: absolute; top: 0px; left: 0px; width: 1425.6px; height: 498px; overflow: hidden; opacity: 0.113490499999986;"><div style="background-color:rgba(0, 0, 0, 0);position:absolute;top:0px;left:0px;width:1425px;height:498px;background-image:url(http://www.bges.ca/wp-content/uploads/2015/01/header-main01b.jpg);background-repeat:no-repeat;background-size:cover;background-position:center top;"></div></div></div></div>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption black tp-fade tp-resizeme start" data-x="498" data-y="372" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 461.410923276983px; top: 344.668400520156px; visibility: visible; opacity: 0; -webkit-transform: none;"><div style="min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; background-color: rgba(0, 0, 0, 0.6);"><div style="font-family: helvetica; color: rgb(255, 255, 255); font-weight: 100; font-size: 39px; text-align: center; line-height: 39px; padding: 9px; min-height: 0px; min-width: 0px; border-width: 0px; margin: 0px; letter-spacing: 0px;">Journey to 100%<br style="min-height: 0px; min-width: 0px; line-height: 36px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 36px;"> GeoContainment.</div></div>
                        </div>
                        <div class="tp-caption sft slidelink hasclicklistener" style="width: 100%; height: 100%; z-index: 60; cursor: pointer; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 0px; top: 0px; visibility: visible; opacity: 1; -webkit-transform: none;" data-x="0" data-y="0" data-linktoslide="no" data-start="0">
                          <a style="width:100%;height:100%;display:block" target="_self" href="#">
                          <span style="width:100%;height:100%;display:block"></span></a></div></li>
                      <!-- SLIDE  -->
                      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-link="http://www.bges.ca/geocontainment/" data-saveperformance="off" class="" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; opacity: 1; z-index: 18;">
                        <!-- MAIN IMAGE -->
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.bges.ca/wp-content/uploads/2014/12/header-main04.jpg" data-src="http://www.bges.ca/wp-content/uploads/2014/12/header-main04.jpg" style="width: 100%; height: 100%; opacity: 0; position: relative; background-image: url(http://www.bges.ca/wp-content/uploads/2014/12/header-main04.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption black tp-fade tp-resizeme start" data-x="243" data-y="238" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 225.146293888166px; top: 220.513654096229px; visibility: visible; opacity: 0; -webkit-transform: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><div style="min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; background-color: rgba(0, 0, 0, 0.6);"><div style="font-family: helvetica; color: rgb(255, 255, 255); font-weight: 100; font-size: 39px; text-align: center; line-height: 39px; padding: 9px; min-height: 0px; min-width: 0px; border-width: 0px; margin: 0px; letter-spacing: 0px;">Professionals<br style="min-height: 0px; min-width: 0px; line-height: 36px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 36px;">Serving Professionals!</div></div>
                        </div>
                        <div class="tp-caption sft slidelink hasclicklistener" style="width: 100%; height: 100%; z-index: 60; cursor: pointer; min-height: 0px; min-width: 0px; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 0px; top: 0px; visibility: visible; opacity: 0; -webkit-transform: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -46.3264, 0, 1);" data-x="0" data-y="0" data-linktoslide="no" data-start="0"><a style="width:100%;height:100%;display:block" target="_self" href="#">
                          <span style="width:100%;height:100%;display:block"></span></a></div></li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="width: 0%; visibility: visible;"></div>  <div class="tp-loader spinner4" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
                  <div style="position: absolute; top: 249px; margin-top: -15px; left: 20px;" class="tp-leftarrow  tparrows default round"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper"><div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(http://www.bges.ca/wp-content/uploads/2015/01/header-main01.jpg);"></div><div class="tp-arr-imgholder2"></div><div class="tp-arr-titleholder"></div><div class="tp-arr-subtitleholder"></div></div></div></div><div style="position: absolute; top: 249px; margin-top: -15px; right: 20px;" class="tp-rightarrow  tparrows default round"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper"><div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(http://www.bges.ca/wp-content/uploads/2015/01/header-main01b.jpg);"></div><div class="tp-arr-imgholder2"></div><div class="tp-arr-titleholder"></div><div class="tp-arr-subtitleholder"></div></div></div></div></div><div class="tp-fullwidth-forcer" style="width: 100%; height: 498px;"></div></div>


                <script type="text/javascript">


                    /******************************************
                     -  PREPARE PLACEHOLDER FOR SLIDER  -
                     ******************************************/


                    var setREVStartSize = function() {
                        var tpopt = new Object();
                        tpopt.startwidth = 1538;
                        tpopt.startheight = 537;
                        tpopt.container = jQuery('#rev_slider_1_1');
                        tpopt.fullScreen = "off";
                        tpopt.forceFullWidth="on";

                        tpopt.container.closest(".rev_slider_wrapper").css({height:tpopt.container.height()});tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1){tpopt.bw=1;tpopt.bh=1}if(tpopt.bw>1){tpopt.bw=1;tpopt.bh=1}tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;if(tpopt.fullScreen=="on"){tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(",");jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight})}catch(e){}}tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest(".rev_slider_wrapper").height(coh);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);tpopt.container.css({height:"100%"});tpopt.height=coh;}else{tpopt.container.height(tpopt.height);tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);}
                    }

                    // CALL PLACEHOLDER
                    setREVStartSize();


                    var tpj=jQuery;
                    tpj.noConflict();
                    var revapi1;



                    tpj(document).ready(function() {



                        if(tpj('#rev_slider_1_1').revolution == undefined)
                            revslider_showDoubleJqueryError('#rev_slider_1_1');
                        else
                            revapi1 = tpj('#rev_slider_1_1').show().revolution(
                                    {
                                        dottedOverlay:"none",
                                        delay:9000,
                                        startwidth:1538,
                                        startheight:537,
                                        hideThumbs:0,

                                        thumbWidth:100,
                                        thumbHeight:50,
                                        thumbAmount:4,

                                        navigationType:"none",
                                        navigationArrows:"solo",
                                        navigationStyle:"round",

                                        touchenabled:"on",
                                        onHoverStop:"on",

                                        swipe_velocity: 0.7,
                                        swipe_min_touches: 1,
                                        swipe_max_touches: 1,
                                        drag_block_vertical: false,


                                        keyboardNavigation:"off",

                                        navigationHAlign:"center",
                                        navigationVAlign:"bottom",
                                        navigationHOffset:0,
                                        navigationVOffset:20,

                                        soloArrowLeftHalign:"left",
                                        soloArrowLeftValign:"center",
                                        soloArrowLeftHOffset:20,
                                        soloArrowLeftVOffset:0,

                                        soloArrowRightHalign:"right",
                                        soloArrowRightValign:"center",
                                        soloArrowRightHOffset:20,
                                        soloArrowRightVOffset:0,

                                        shadow:0,
                                        fullWidth:"on",
                                        fullScreen:"off",

                                        spinner:"spinner4",

                                        stopLoop:"off",
                                        stopAfterLoops:-1,
                                        stopAtSlide:-1,

                                        shuffle:"off",

                                        autoHeight:"off",
                                        forceFullWidth:"on",



                                        hideThumbsOnMobile:"off",
                                        hideNavDelayOnMobile:1500,
                                        hideBulletsOnMobile:"off",
                                        hideArrowsOnMobile:"off",
                                        hideThumbsUnderResolution:0,

                                        hideSliderAtLimit:0,
                                        hideCaptionAtLimit:0,
                                        hideAllCaptionAtLilmit:0,
                                        startWithSlide:0,
                                        fullScreenOffsetContainer: ""
                                    });




                    }); //ready

                </script>

                <style type="text/css">
                    #rev_slider_1_1_wrapper .tp-loader.spinner4 div { background-color: #FFFFFF !important; }
                </style>
                <!-- END REVOLUTION SLIDER --></div>

            </div>
          </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
          <div class="wpb_column grve-column-1">
            <div class="grve-element grve-image grve-align-center grve-animated-item fadeIn philosophy animated" style="" data-delay="200">
              <!--<img alt="" src="./BGES – Big Guns Energy Services Inc._files/philosophy.jpg">-->
              <%= image_tag "philosophy.jpg" %>
            </div>
          </div>
        </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-bg-image " style="opacity: 1; background-image: url(http://www.bges.ca/wp-content/uploads/2014/08/philosophy-copy.jpg);"></div>  <div class="grve-row">
          <div class="wpb_column grve-column-1">
            <div class="grve-element grve-text philosophy-copy">
              <p style="text-align: center;">
              We believe in applying science to prevent safety, environmental and financial disasters. With the number of failures in the oil wells and collapses in recent years becomes increasingly critical for public safety and environmental protection. Taha specializes in bridging the implementation gap by having an expert multi-disciplinary team working with specialized operations personnel resulting as a complete solution provider in Oil and Gas field.

              </p>

            </div>

          </div>
        </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
          <div class="wpb_column grve-column-1">
            <div class="grve-element grve-text rhet-title">
              <h3>Our Integrated Services.</h3>

            </div>

          </div>
        </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
          <div class="wpb_column grve-column-1-3">
            <div class="grve-element grve-icon-box grve-align-center grve-animated-item fadeInUp animated" style="" data-delay="200">
              <a href="#" target="_self">
              <div class="grve-icon fa fa-globe"></div></a>
              <div class="grve-box-content">
                <a href="#" target="_self">
                  <h5 class="grve-box-title">GeoContainment</h5></a>    <p>BGES specializes in complete caprock integrity and reservoir analytical services (including: Core Recovery &amp; Management, Geotechnical Lab Testing, Mini Frac / DFIT, Step Rate Test, Cold Water Injectivity / Water Mobility Test, Thermal Reservoir Simulation and Hydrogeology Studies)</p>  </div></div>
          </div>

          <div class="wpb_column grve-column-1-3">
            <div class="grve-element grve-icon-box grve-align-center grve-animated-item fadeInUp animated" style="" data-delay="200"><a href="#" target="_self">
              <div class="grve-icon fa fa-bullseye"></div></a>  <div class="grve-box-content">
              <a href="#" target="_self">
                <h5 class="grve-box-title">Integrated Wireline Services</h5></a>
              <p>BGES offers integrated wireline services so that we can be the one-stop-shop for the whole spectrum of wireline needs including a full suite of open-hole logging, cased-hole logging and all complementary services. </p>  </div></div>
          </div>

          <div class="wpb_column grve-column-1-3">
            <div class="grve-element grve-icon-box grve-align-center grve-animated-item fadeInUp animated" style="" data-delay="200">
              <a href="#" target="_self">  <div class="grve-icon fa fa-cogs"></div></a>  <div class="grve-box-content">
              <a href="#" target="_self">
                <h5 class="grve-box-title">Project Management</h5></a>
              <p>From program design, field coordination, execution, cost tracking, data quality control, interpretation &amp; analysis, to regulatory applications, we pride ourselves on keeping your high priority objectives on track with a clear path towards responsible operation and sustainable production.</p>  </div></div>
          </div>
        </div></section>
          <section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
          <div class="wpb_column grve-column-1">
            <hr class="grve-element grve-space-divider  " style="">
          </div>
        </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-bg-image " style="opacity: 1; background-image: url(http://www.bges.ca/wp-content/uploads/2014/08/company-blurb.jpg);"></div>  <div class="grve-row">
          <div class="wpb_column grve-column-1">
            <hr class="grve-element grve-space-divider  " style="">
            <div class="grve-element grve-text philosophy-copy">
            <div style="text-align: center; font-size: 1.3em; margin-bottom: 40px;">
              <p>Big Guns Energy Services Inc. (BGES), headquartered in Calgary, Alberta, is the largest privately-held provider of GeoContainment and integrated geoscience, engineering and wireline services for the oilsands and unconventional resources, with facilities in Calgary, Red Deer and Bonnyville as well as a dedicated geotechnical lab.</p>
            </div>

          </div>

          </div>
        </div></section><section class="grve-section grve-feature-footer" style="padding-bottom: 15px; margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px; background-color: rgb(98, 99, 102);">  <div class="grve-row">
          <div class="wpb_column grve-column-1-2">
            <hr class="grve-element grve-space-divider  " style=""><div class="grve-element grve-text">
            <div style="color: #fff; font-size: 1.5em; text-align: right; margin-top: 5px; margin-bottom: 40px;">Reach out and learn more.</div>

          </div>

          </div>

          <div class="wpb_column grve-column-1-2">
            <hr class="grve-element grve-space-divider  " style=""><div class="grve-element grve-align-left"><a class="grve-btn grve-btn-medium grve-btn-line" href="#" target="_self" style=""><span>INQUIRE</span></a></div><div class="grve-element grve-align-left"><a class="grve-btn grve-btn-extrasmall grve-btn-line" href="#" target=" _blank" style=""><span>Client Login</span></a></div>
          </div>
        </div>
        </section>

        </div>
        <!-- End Content -->
