  <title>Taha</title>
        <!-- Content -->
        <div id="page-2" class="post-2 page type-page status-publish hentry grve-main-content">


          <section class="grve-section grve-feature-header" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  <div class="grve-pattern"></div>  <div class="grve-row">
            <div class="wpb_column grve-column-1">
              <div class="wpb_revslider_element wpb_content_element bges-rotator-home"><!-- START REVOLUTION SLIDER 4.5.4 fullwidth mode -->

                <div style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px" class="forcefullwidth_wrapper_tp_banner"><div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; padding: 0px; max-height: 537px; height: 455px; left: -66px; position: absolute; width: 1302px; overflow: visible; background-color: rgb(233, 233, 233);">
                  <div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 537px; height: 455px; background-image: none; background-color: rgb(233, 233, 233);">
                    <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 537px;">	<!-- SLIDE  -->
                      <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-link="http://www.bges.ca/integrated-wireline-services/" data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" class="current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
                        <!-- MAIN IMAGE -->
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.bges.ca/wp-content/uploads/2015/01/header-main01.jpg" data-src="http://www.bges.ca/wp-content/uploads/2015/01/header-main01.jpg" style="width: 100%; height: 100%; opacity: 1; position: relative; background-image: url(http://www.bges.ca/wp-content/uploads/2015/01/header-main01.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption black tp-fade tp-resizeme start" data-x="409" data-y="238" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px; left: 346.240572171652px; top: 201.479843953186px; visibility: visible; opacity: 1; -webkit-transform: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);"><div style="min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px; background-color: rgba(0, 0, 0, 0.4);"><div style="font-family: helvetica; color: rgb(255, 255, 255); font-weight: 100; font-size: 33px; text-align: center; line-height: 33px; padding: 8px; min-height: 0px; min-width: 0px; border-width: 0px; margin: 0px; letter-spacing: 0px;">Applying Science<br style="min-height: 0px; min-width: 0px; line-height: 28px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 28px;">In The Field!</div></div>
                        </div>
                        <div class="tp-caption sft slidelink hasclicklistener" style="width: 100%; height: 100%; z-index: 60; cursor: pointer; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px; left: 0px; top: 0px; visibility: visible; opacity: 1; -webkit-transform: none;" data-x="0" data-y="0" data-linktoslide="no" data-start="0">

                        </div></li>
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption black tp-fade tp-resizeme start" data-x="243" data-y="238" data-speed="300" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: nowrap; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px; left: 205.712613784135px; top: 201.479843953186px; visibility: visible; opacity: 0; -webkit-transform: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><div style="min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px; background-color: rgba(0, 0, 0, 0.6);"><div style="font-family: helvetica; color: rgb(255, 255, 255); font-weight: 100; font-size: 33px; text-align: center; line-height: 33px; padding: 8px; min-height: 0px; min-width: 0px; border-width: 0px; margin: 0px; letter-spacing: 0px;">Professionals<br style="min-height: 0px; min-width: 0px; line-height: 28px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 28px;">Serving Professionals!</div></div>
                        </div>
                        <div class="tp-caption sft slidelink hasclicklistener" style="width: 100%; height: 100%; z-index: 60; cursor: pointer; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px; left: 0px; top: 0px; visibility: visible; opacity: 0; -webkit-transform: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -42.3277, 0, 1);" data-x="0" data-y="0" data-linktoslide="no" data-start="0"><a style="width:100%;height:100%;display:block" target="_self" href="#"><span style="width:100%;height:100%;display:block"></span></a></div></li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="width: 0%; visibility: visible;"></div>
                    <div class="tp-loader spinner4" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>


                </div><div class="tp-fullwidth-forcer" style="width: 100%; height: 455px;"></div></div>

                <!-- END REVOLUTION SLIDER --></div>

            </div>
          </div></section>


          <section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
          <div class="wpb_column grve-column-1">
            <div class="grve-element grve-image grve-align-center grve-animated-item fadeIn philosophy animated" style="" data-delay="200">
              <!--<img alt="" src="./TAHA – Big Guns Energy Services Inc._files/philosophy.jpg">-->
              <%= image_tag "philosophy.jpg" %>
            </div>
          </div>
        </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-bg-image " style="opacity: 1; background-image: url(http://www.bges.ca/wp-content/uploads/2014/08/philosophy-copy.jpg);"></div>  <div class="grve-row">
          <div class="wpb_column grve-column-1">
            <div class="grve-element grve-text philosophy-copy">
              <p style="text-align: center;">
              We believe in applying science to prevent safety, environmental and financial disasters. With the number of failures in the oil wells and collapses in recent years becomes increasingly critical for public safety and environmental protection. Taha specializes in bridging the implementation gap by having an expert multi-disciplinary team working with specialized operations personnel resulting as a complete solution provider in Oil and Gas field.

              </p>

            </div>

          </div>
        </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
          <div class="wpb_column grve-column-1">
            <div class="grve-element grve-text rhet-title">
              <h3>Our Integrated Services.</h3>

            </div>

          </div>
        </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
          <div class="wpb_column grve-column-1-3">
            <div class="grve-element grve-icon-box grve-align-center grve-animated-item fadeInUp animated" style="" data-delay="200">
              <a href="#" target="_self">
              <div class="grve-icon fa fa-globe"></div></a>
              <div class="grve-box-content">
                <a href="#" target="_self">
                  <h5 class="grve-box-title">Perforation</h5></a>
                <p>

                  TPK provides customized completions systems and well applications for TCP systems to meet

                  unique customer needs and well applications by utilizing either coil or E-Coil which can be

                  activated electrically, hydraulically or mechanically.
                </p>  </div></div>
          </div>

          <div class="wpb_column grve-column-1-3">
            <div class="grve-element grve-icon-box grve-align-center grve-animated-item fadeInUp animated" style="" data-delay="200"><a href="#" target="_self">
              <div class="grve-icon fa fa-bullseye"></div></a>  <div class="grve-box-content">
              <a href="#" target="_self">
                <h5 class="grve-box-title"> Wireline Services</h5></a>
              <p>
                TPK's E-Coil equipment incorporates the latest in advanced equipment technology and

                operating control techniques. Each coiled tubing unit provides real time data acquisition to

                accurately capture the job information needed to perform every treatment with precision.
              </p>  </div></div>
          </div>

          <div class="wpb_column grve-column-1-3">
            <div class="grve-element grve-icon-box grve-align-center grve-animated-item fadeInUp animated" style="" data-delay="200">
              <a href="#" target="_self">  <div class="grve-icon fa fa-cogs"></div></a>  <div class="grve-box-content">
              <a href="#" target="_self">
                <h5 class="grve-box-title">Coiled / E-Coiled Tubing</h5></a>
              <p>From program design, field coordination, execution, cost tracking, data quality control, interpretation &amp; analysis, to regulatory applications, we pride ourselves on keeping your high priority objectives on track with a clear path towards responsible operation and sustainable production.</p>  </div></div>
          </div>
        </div></section>
          <section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
          <div class="wpb_column grve-column-1">
            <hr class="grve-element grve-space-divider  " style="">
          </div>
        </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-bg-image " style="opacity: 1; background-image: url(http://www.bges.ca/wp-content/uploads/2014/08/company-blurb.jpg);"></div>  <div class="grve-row">
          <div class="wpb_column grve-column-1">
            <hr class="grve-element grve-space-divider  " style="">
            <div class="grve-element grve-text philosophy-copy">
            <div style="text-align: center; font-size: 1.3em; margin-bottom: 40px;">
              <p>
                Taha Pouyesh Kish, headquartered in Tehran, Iran, is a service provider of wireline services, E-Coil, Perforation and downhole video imaging, with facilities in Tehran as well as in Kish island.
              </p>
            </div>

          </div>

          </div>
        </div>
        </section>

          <%= render 'shared/reachandlearn' %>

        

        </div>
        <!-- End Content -->
