<div id="page-766" class="post-766 page type-page status-publish hentry grve-main-content">

				<section class="grve-section grve-feature-header" style="padding: 30px 128px; margin-bottom: 90px; margin-left: -128px; margin-right: -128px; background-color: rgb(240, 88, 72);">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<h2 class="grve-element grve-align-center grve-title-no-line light-title-bges" style="">Safety Management System Policy</h2>
		</div>
	  </div></section><section class="grve-section" style="margin-bottom: 30px; margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<div class="grve-element grve-text">		
			<p>
				Taha, including management, is committed to achieving a goal of operating its business at a standard which will establish it as an industry leader in protecting the health and safety of employees and the public, as well as protecting the environment wherever we do business. With an ongoing proactive attitude towards Occupational Health, Safety & Environmental concerns, we can make this possible.
			</p>
<p>
The management of Taha is committed to our corporate policies because it is an integral part of the company’s work. Employees and contractors of Taha should use this manual to understand their role and to establish personal actions to meet the expectations described.
</p>
<p>
Employees, subcontractors and visitors who knowingly violate safety rules will face disciplinary action, dismissal or legal action. The Company may face legal action, fines or sanctions for violations of regulatory requirements, therefore those individuals who do not fulfill their responsibilities regarding HSE will become accountable for any problems their negligence creates and may be liable under the law. All employees should be familiar with the regulatory bodies and agencies that govern our industry. Everyone employed by this Company is responsible for maintaining the safety program.
</p>
<p>
Managers and supervisors are responsible for identifying hazards, communicating and/or investigating hazards and incidents, ensuring that training is provided, ensuring that employees are supplied with and use appropriate personal protective equipment and that equipment is properly maintained and meets safety standards.
</p>
<p>
All employees must support supervisory personnel with their input and participation in the safety program, follow the safety program and government regulations. All individuals on the work site are responsible for obeying safety rules, following safe work procedures, wearing personal protective equipment, ensuring attendance at safety meetings, participation in training programs and refusing to do work when unsafe conditions exist.
</p>
<p>
In addition to protecting lives, our program contributes to employee morale and pride. All employees will participate in identifying safety needs and developing safe work procedures. By fulfilling our safety responsibilities, everyone who works for this company will share the benefits of a safe workplace. With everyone’s support and contributions, I believe we may achieve our goals of excellence in health, safety and environmental performance.
</p>
<p>Sincerely,<br>
<strong>Seyed Mohammad Tabatabaei</strong></p>
	
		</div>
	
		</div>
	  </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			  <hr class="grve-element grve-space-divider  " style="padding-bottom: 80px;">
		</div>
	  </div></section><section class="grve-section grve-feature-footer" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px; background-color: rgb(98, 99, 102);">  <div class="grve-row">
		<div class="wpb_column grve-column-1-2">
			  <hr class="grve-element grve-space-divider  " style=""><div class="grve-element grve-text">		
			<div style="color: #fff; font-size: 1.5em; text-align: right; margin-top: 5px; margin-bottom: 40px;">Reach out and learn more.</div>
	
		</div>
	
		</div>
	
		<div class="wpb_column grve-column-1-2">
			  <hr class="grve-element grve-space-divider  " style=""><div class="grve-element grve-align-left"><a class="grve-btn grve-btn-medium grve-btn-line" href="#" target="_self" style=""><span>INQUIRE</span></a></div>
		</div>
	  </div></section>

			</div>