<div id="page-787" class="post-787 page type-page status-publish hentry grve-main-content">

<section class="grve-section grve-feature-header" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  <div class="grve-row">
    <div class="wpb_column grve-column-1">
      <div class="wpb_revslider_element wpb_content_element">
      <!-- START REVOLUTION SLIDER 4.5.4 fullwidth mode -->

<div style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px" class="forcefullwidth_wrapper_tp_banner"><div id="rev_slider_15_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; padding: 0px; max-height: 470px; height: 398px; left: -66px; position: absolute; width: 1302px; overflow: visible; background-color: rgb(233, 233, 233);">
  <div id="rev_slider_15_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 470px; height: 398px; background-image: none; background-color: rgb(233, 233, 233);">
<ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 470px;">  <!-- SLIDE  -->
  <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" class="current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
    <!-- MAIN IMAGE -->
    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined"  style="width: 100%; height: 100%; opacity: 1; position: relative; background-image: url(../images/CompanyNews3.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div>
    </div>
    <!-- LAYERS -->
  </li>

</ul>

<div class="tp-bannertimer tp-bottom" style="width: 0%;"></div> 
<div class="tp-loader spinner4" style="display: none;">
<div class="dot1"></div>
<div class="dot2"></div>
<div class="bounce1"></div>
<div class="bounce2"></div>
<div class="bounce3"></div>
</div>
</div>
<div style="visibility: hidden; display: none;" class="tp-leftarrow  tparrows round"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper">
<div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(http://www.bges.ca/wp-content/uploads/2014/12/header-news.jpg);"></div>
<div class="tp-arr-imgholder2"></div>
<div class="tp-arr-titleholder"></div>
<div class="tp-arr-subtitleholder"></div>
</div>
</div>
</div>
<div style="visibility: hidden; display: none;" class="tp-rightarrow  tparrows round"><div class="tp-arr-allwrapper">
<div class="tp-arr-iwrapper">
<div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1;">
  
</div>
<div class="tp-arr-imgholder2"></div>
<div class="tp-arr-titleholder"></div>
<div class="tp-arr-subtitleholder"></div>
</div>
</div>
</div>
</div>
<div class="tp-fullwidth-forcer" style="width: 100%; height: 398px;"></div></div>      
     
</div>

    </div>
    </div></section><section class="grve-section" style="padding: 30px 66px; margin-bottom: 30px; margin-left: -66px; margin-right: -66px; background-color: rgb(240, 88, 72);">  <div class="grve-row">
    <div class="wpb_column grve-column-1">
      <h3 class="grve-element grve-align-center grve-title-no-line light-title-bges" style="margin-bottom: 0px;">TAHA News</h3>
    </div>
    </div></section>


    <section class="grve-section" style="margin-bottom: 30px; margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">
      <div class="grve-row">
    <div class="wpb_column grve-column-1">
    <div class="grve-element grve-blog " style="">
      <div class="grve-isotope-container isotope" data-columns="2" data-layout="fitRows" style="position: relative; overflow: hidden; height: 701px; opacity: 1;">

      <article  class="post type-post status-publish format-standard has-post-thumbnail hentry category-bges-news grve-isotope-item isotope-item" style="width:100% !important; position: absolute; left: 0px; top: 0px;">
      <div class="grve-media">
      <%= image_tag "TAHADrillingConf.jpg" , width: "241" , height: "142" , class:"attachment-grve-image-blog-small wp-post-image" %>
      <!-- <img width="241" height="142" src="http://www.bges.ca/wp-content/uploads/2015/06/Canada-winner-2015_portrait2x1.png" class="attachment-grve-image-blog-small wp-post-image" alt="Canada-winner-2015_portrait2x1"> -->
    </div>
        <div class="grve-post-content">
                    <h5 class="grve-post-title">
Visit Us at 1st Iran Drilling Services Conference
                    </h5>
          <div class="grve-post-meta">
              <span class="grve-post-date">
    January 20 & 21 st, 2016 </span>
                      </div>
          <p>We are looking forward to attending 1st Iran Drilling Service Conference this year. We will be showing our latest range of downhole video cameras.
Come and visit us at IRIB Int’l. Conference Center on the 20 & 21st January 2016. Our establishment will be on Stand 38, Hall B.
          </p>
        </div>
      </article>
      </div>
      </div>

    </div>
    </div></section>


  <%= render 'shared/reachandlearn' %>

      </div>