<div id="page-296" class="post-296 page type-page status-publish hentry grve-main-content">


	<section class="grve-section grve-feature-header" >
			<%= image_tag "header-cased-hole02.jpg", :width=>"100%",:height=>"100%" %>
	  </section>

	  
	  <section class="grve-section" style="padding: 30px 66px; margin-bottom: 30px; margin-left: -66px; margin-right: -66px; background-color: rgb(240, 88, 72);">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<h2 class="grve-element grve-align-center grve-title-no-line light-title-bges" style="margin-bottom: 0px;">Perforation</h2>
		</div>
	  </div></section>
	  <section class="grve-section" style="margin-bottom: 30px; margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">
	    <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<div class="grve-element grve-text">		
			<p>Cased-hole logging is frequently performed to help operators obtain additional information from the formation and to evaluate the completion of the well. BGES is well experienced in a wide range of wireline services, including specialty logs for evaluation casing integrity and formation evaluation, downhole pressure/temperature data acquisition, conventional production logging, and common mechanical services such as perforating and plug setting. To ensure that the desired depth is reached in wells of different orientations, multiple conveyance methods are available, depending on the customer’s application.</p>
<p>BGES has extensive experience in cased-hole log analysis and interpretation. Our technical team understands that important decisions affecting wellsite operations must often be made promptly. Consequently, we are committed to providing a fast turnaround on log processing and interpretation services.</p>
	
		</div>
	  <hr class="grve-element grve-striped-divider  " style="">
		</div>
	  </div>
	  </section>
