<div id="page-296" class="post-296 page type-page status-publish hentry grve-main-content">

  <section class="grve-section grve-feature-header" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  <div class="grve-row">
    <div class="wpb_column grve-column-1">
      <div class="wpb_revslider_element wpb_content_element"><!-- START REVOLUTION SLIDER 4.5.4 fullwidth mode -->

        <div style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px" class="forcefullwidth_wrapper_tp_banner"><div id="rev_slider_13_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; padding: 0px; max-height: 537px; height: 455px; left: -66px; position: absolute; width: 1302px; overflow: visible; background-color: rgb(233, 233, 233);">
          <div id="rev_slider_13_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive hovered" style="max-height: 537px; height: 455px; background-image: none; background-color: rgb(233, 233, 233);">
            <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 537px;">	<!-- SLIDE  -->
              <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" class="" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                <!-- MAIN IMAGE -->
                <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.bges.ca/wp-content/uploads/2014/10/header-imaging-geology.jpg" data-src="http://www.bges.ca/wp-content/uploads/2014/10/header-imaging-geology.jpg" style="width: 100%; height: 100%; opacity: 0; position: relative; background-image: url(http://www.bges.ca/wp-content/uploads/2014/10/header-imaging-geology.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                <!-- LAYERS -->
              </li>
              <!-- SLIDE  -->
              <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; opacity: 1; z-index: 20;" class="current-sr-slide-visible">
                <!-- MAIN IMAGE -->
                <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.bges.ca/wp-content/uploads/2014/12/header-WellboreImagingOpenHole02.jpg" data-src="http://www.bges.ca/wp-content/uploads/2014/12/header-WellboreImagingOpenHole02.jpg" style="width: 100%; height: 100%; opacity: 1; position: relative; background-image: url(http://www.bges.ca/wp-content/uploads/2014/12/header-WellboreImagingOpenHole02.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                <!-- LAYERS -->
              </li>
            </ul>
            <div class="tp-static-layers">
            </div>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important; width: 80.9777777777778%;"></div>	<div class="tp-loader spinner4" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>



        </div><div class="tp-fullwidth-forcer" style="width: 100%; height: 455px;"></div></div>
        <script type="text/javascript">


            /******************************************
             -	PREPARE PLACEHOLDER FOR SLIDER	-
             ******************************************/


            var setREVStartSize = function() {
                var	tpopt = new Object();
                tpopt.startwidth = 1538;
                tpopt.startheight = 537;
                tpopt.container = jQuery('#rev_slider_13_1');
                tpopt.fullScreen = "off";
                tpopt.forceFullWidth="on";

                tpopt.container.closest(".rev_slider_wrapper").css({height:tpopt.container.height()});tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1){tpopt.bw=1;tpopt.bh=1}if(tpopt.bw>1){tpopt.bw=1;tpopt.bh=1}tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;if(tpopt.fullScreen=="on"){tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(",");jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight})}catch(e){}}tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest(".rev_slider_wrapper").height(coh);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);tpopt.container.css({height:"100%"});tpopt.height=coh;}else{tpopt.container.height(tpopt.height);tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);}
            }

            // CALL PLACEHOLDER
            setREVStartSize();


            var tpj=jQuery;
            tpj.noConflict();
            var revapi13;



            tpj(document).ready(function() {



                if(tpj('#rev_slider_13_1').revolution == undefined)
                    revslider_showDoubleJqueryError('#rev_slider_13_1');
                else
                    revapi13 = tpj('#rev_slider_13_1').show().revolution(
                            {
                                dottedOverlay:"none",
                                delay:9000,
                                startwidth:1538,
                                startheight:537,
                                hideThumbs:200,

                                thumbWidth:100,
                                thumbHeight:50,
                                thumbAmount:2,

                                navigationType:"none",
                                navigationArrows:"solo",
                                navigationStyle:"round",

                                touchenabled:"on",
                                onHoverStop:"on",

                                swipe_velocity: 0.7,
                                swipe_min_touches: 1,
                                swipe_max_touches: 1,
                                drag_block_vertical: false,


                                keyboardNavigation:"off",

                                navigationHAlign:"center",
                                navigationVAlign:"bottom",
                                navigationHOffset:0,
                                navigationVOffset:20,

                                soloArrowLeftHalign:"left",
                                soloArrowLeftValign:"center",
                                soloArrowLeftHOffset:20,
                                soloArrowLeftVOffset:0,

                                soloArrowRightHalign:"right",
                                soloArrowRightValign:"center",
                                soloArrowRightHOffset:20,
                                soloArrowRightVOffset:0,

                                shadow:0,
                                fullWidth:"on",
                                fullScreen:"off",

                                spinner:"spinner4",

                                stopLoop:"off",
                                stopAfterLoops:-1,
                                stopAtSlide:-1,

                                shuffle:"off",

                                autoHeight:"off",
                                forceFullWidth:"on",


                                hideTimerBar:"on",
                                hideThumbsOnMobile:"off",
                                hideNavDelayOnMobile:1500,
                                hideBulletsOnMobile:"off",
                                hideArrowsOnMobile:"off",
                                hideThumbsUnderResolution:0,

                                hideSliderAtLimit:0,
                                hideCaptionAtLimit:0,
                                hideAllCaptionAtLilmit:0,
                                startWithSlide:0,
                                fullScreenOffsetContainer: ""
                            });




            });	//ready

        </script>

        <style type="text/css">
            #rev_slider_13_1_wrapper .tp-loader.spinner4 div { background-color: #FFFFFF !important; }
        </style>
        <!-- END REVOLUTION SLIDER --></div>

    </div>
  </div>
  </section>


	  
	  <section class="grve-section" style="padding: 30px 66px; margin-bottom: 30px; margin-left: -66px; margin-right: -66px; background-color: rgb(240, 88, 72);">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<h2 class="grve-element grve-align-center grve-title-no-line light-title-bges" style="margin-bottom: 0px;">Perforation</h2>
		</div>
	  </div></section>
	  <section class="grve-section" style="margin-bottom: 30px; margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">
	    <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<div class="grve-element grve-text">
			<p>
              Our trained staff can assist in providing the perfect solution to meet your completion challenges. Our

              perforating systems come in a wide range of gun sizes, shot density, shot phasing options and

              temperature ratings. TPK provides customized completions systems and well applications for TCP

              systems to meet unique customer needs and well applications.
            </p>
<p>
  With the increase in horizontal and angled well completions new solutions for customers are available.

  We can provide TCP on coil or E-Coil which can be activated electrically, hydraulically or mechanically.
</p>

		</div>
	  <hr class="grve-element grve-striped-divider  " style="">
		</div>
	  </div>
	  </section>

  <%= render 'shared/reachandlearn' %>
    </div>
