<div id="page-296" class="post-296 page type-page status-publish hentry grve-main-content">

				<section class="grve-section grve-feature-header" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  
				<div class="grve-row">

	  </div></section>

	  <section class="grve-section" style="margin-bottom: 50px; margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  <div class="grve-bg-image grve-animated-bg" style="opacity: 1; background-image: url(http://www.bges.ca/wp-content/uploads/2014/08/philosophy-copy.jpg); background-position: 2089px 0px;"></div>  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<div class="grve-element grve-text">		
			<h3 style="color: #fff; text-align: center; padding-top: 15px;">
			TCP(Tubing Conveyed Perforation)
			</h3>
<p style="color: #fff; padding-bottom: 15px; text-align: center;">
	
		</p></div>
	
		</div>
	  </div>
	  </section>
	  <section class="grve-section" style="margin-bottom: 20px; margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<div class="grve-element grve-text">		
			<p>Corrosion or other forms of mechanical damages are commonly seen in cased wells. Compromised casing integrity can have a severe impact on production and the environment. Taha suite of casing integrity evaluation services are offered to provide extensive corrosion inspection in production, injection and disposal wells. Our Radial Cement Bond Log is widely used for evaluation of cement sheath bonding to casing and formation while detecting signs of channeling. It is most powerful when combined with our corrosion evaluation tool, multi-finger imaging caliper and the gyro inclinometer for a complete evaluation of casing and cement integrity. The Ultrasonic Imaging Tool can also be used to analyze casing damage, evaluate cement bond quality and inspect perforations quality.</p>
<p>In addition to the above logs, a Temperature Injection Profile can also be conducted to evaluate cement quality or frac treatment and to locate lost circulation zones or casing leaks. TIP typically includes a baseline temperature log and multiple additional logging passes taken after an injection. The logs are presented as composite overlay to provide a comprehensive picture of the exact placement of the injected fluid. This gives a clear indication of the mechanical integrity of the well and fluid movement from the wellbore.</p>
	
		</div>
	
		</div>
	  </div>
	  </section>
	  