<div id="page-296" class="post-296 page type-page status-publish hentry grve-main-content">

				<section class="grve-section grve-feature-header" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">
				<div class="grve-row" style="text-align: center;">
                  <%= image_tag "perforatingservices.jpg", :width => "500px" %>
	  </div>
                </section>

	  <section class="grve-section" style="margin-bottom: 50px; margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  <div class="grve-bg-image grve-animated-bg" style="opacity: 1; background-image: url(http://www.bges.ca/wp-content/uploads/2014/08/philosophy-copy.jpg); background-position: 2089px 0px;"></div>  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<div class="grve-element grve-text">		
			<h3 style="color: #fff; text-align: center; padding-top: 15px;">
			TCP(Tubing Conveyed Perforation)
			</h3>
<p style="color: #fff; padding-bottom: 15px; text-align: center;">
	
		</p></div>
	
		</div>
	  </div>
	  </section>
	  <section class="grve-section" style="margin-bottom: 20px; margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">  <div class="grve-row">
		<div class="wpb_column grve-column-1">
			<div class="grve-element grve-text">		
			<p>
              Tubing-conveyed perforating (TCP) completion techniques enable perforating very long intervals. In

              wells with deviations of more than 50° to 60° and short pay zones TCP is the only means to access and

              perforate the pay zone. TCP also facilitates running guns in highly underbalanced reservoirs and

              retrieving them without having to kill the well.
            </p>
<p>
  Our engineered firing systems and accessories along with high performing perforating guns ensure

  optimum results specific to all of your needs. All options can be deployed in long or short intervals and

  also in both balanced and underbalanced conditions. TCP systems at TPK are designed to deliver a total

  completions solution utilizing E-Coils.

</p>
              <p>
                Utilizing E-Coil accommodates using logging to get to the accurate perforating interval. This eliminates

                typical methods of depth control which include gamma ray tie-in and correlation to the original

                openhole gamma ray system. This will prevent miscalculation which may lead to shooting the gun one

                joint off depth, consequently reducing completion costs.
              </p>


              <p>
                Advantages of utilizing E-Coil in TCP:
              </p>
              <p style="padding-left:5em;">

                * Added level of safety: Detonator is never electrically connected until specific software command is sent.<br>

                * Positive Shot Indicator: Confirming of firing, especially in deep, horizontal well conditions.<br>

                * Eliminate Premature Activation: Gun flooding causing piston activation leading to off depth

                perforations.<br>

                * Operational Confirmation: Gun string confirmation throughout the decent into the wellbore

                providing real time confirmation before critical operations commence.<br>

                * Accurate placement of perforations: Since they are logged into place the perforations are

                accurately placed.<br>
              </p>

	
		</div>
	
		</div>
	  </div>
	  </section>
	  <%= render 'shared/reachandlearn' %>
    </div>