<title> Wireline services </title>


<!-- Content -->
<div id="page-328" class="post-328 page type-page status-publish hentry grve-main-content">

  <section class="grve-section grve-feature-header" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px;">
    <div class="grve-row">

    </div>
  </section>

  <section class="grve-section" style="padding: 30px 128px; margin-bottom: 90px; margin-left: -128px; margin-right: -128px; background-color: rgb(240, 88, 72);">  <div class="grve-row">
    <div class="wpb_column grve-column-1">
      <h2 class="grve-element grve-align-center grve-title-no-line light-title-bges" style="">
        Wireline Services
      </h2>
    </div>
  </div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
  <div class="wpb_column grve-column-1">
    <div class="grve-element grve-text">
      <p>
        TPK offers wireline services for each stage of a wells’ life from exploration & production to

        zonal abandonment. TPK is characterized by our innovative spirit while still keeping wireline at

        its core. With over 4 years of experience in wireline services, we are capable of helping

        customers with any complex wireline projects in the most challenging environments.


      </p>
      <p>
        Wireline logging services are classified into open-hole logging and cased-hole logging. Reliable

        measurements of subsurface geophysical parameters through logging can provide operators

        with valuable information to make critical decisions. We take pride in being a one-stop-shop for

        the full spectrum of logging needs; we believe that a streamlined approach provides optimal

        results. Every job is managed with quality and efficiency in mind.
      </p>

    </div>

  </div>
</div></section><section class="grve-section" style="margin-left: -128px; margin-right: -128px; padding-left: 128px; padding-right: 128px;">  <div class="grve-row">
  <div class="wpb_column grve-column-1">
    <hr class="grve-element grve-space-divider  " style="padding-bottom: 80px;">
  </div>
</div></section>



</div>
<!-- End Content -->
