<footer id="grve-footer" class="grve-section">

  <section class="grve-footer-bar">
    <div class="grve-container">
      <div class="grve-row">

        <div class="grve-column-1-2">
          <div class="grve-copyright">
            Copyright 2014 - All Rights Reserved.

                <span style="margin-left: 10px;"><a href="#" target="_blank">
                  <!--<img class="alignnone size-full wp-image-737" src="./TAHA – Big Guns Energy Services Inc._files/linkedin-icon_transparent.png" alt="linkedin-icon_transparent" width="36" height="36">-->
                  <%= image_tag "linkedin-icon_transparent.png" , :class => "alignnone size-full wp-image-737" %>
                </a> <a href="#" target="_blank">
                  <!--<img class="alignnone size-full wp-image-738" src="./TAHA – Big Guns Energy Services Inc._files/TwitterIcon.png" alt="TwitterIcon" width="36" height="36">-->
                  <%= image_tag "TwitterIcon.png" , :class => "alignnone size-full wp-image-738" %>
                </a></span>					</div>
        </div>
        <div class="grve-column-1-2">
          <div class="grve-second-menu">
            <ul id="menu-main-menu-1" class="menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-165">
                <div class="grve-mainmenu-btn"></div><a href="#">GeoContainment</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-137">
                <div class="grve-mainmenu-btn"></div>
                <a href="#">Integrated Wireline Services</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505">
                <a href="#">Project Management</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-320">
                <div class="grve-mainmenu-btn"></div>
                <a href="#">About TAHA</a></li>
              <!-- <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130">
                <a href="#">Contact TAHA</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


</footer>