<section class="grve-section grve-feature-footer" style="margin-left: -66px; margin-right: -66px; padding-left: 66px; padding-right: 66px; background-color: rgb(98, 99, 102);">  <div class="grve-row">
		<div class="wpb_column grve-column-1-2">
			  <hr class="grve-element grve-space-divider  " style="">
			  <div class="grve-element grve-text">		
			<div style="color: #fff; font-size: 1.5em; text-align: right; margin-top: 5px; margin-bottom: 40px;">Reach out and learn more.</div>
	
		</div>
	
		</div>
	
		<div class="wpb_column grve-column-1-2">
			  <hr class="grve-element grve-space-divider  " style="">
			  <div class="grve-element grve-align-left">
			  <%= link_to '/contact-us' , :class=>"grve-btn grve-btn-medium grve-btn-line" do  %>
			  <!-- <a class="grve-btn grve-btn-medium grve-btn-line" href="http://www.bges.ca/contact-bges/" target="_self" style=""> -->
			  <span>INQUIRE</span>
			  <% end %>
			  </div>
		</div>
	  </div>
	  </section>